.player-hand {
  position: absolute;
  width: 100%;
  text-align: center;
}

.player-hand.north {
  top: 0;
  left: 50%;
  transform: rotate(90deg);
  transform: translateX(-50%) rotate(180deg);
}
.player-hand.south {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.player-hand.east {
  top: 48%;
  right: 10.5vh;
  transform: translateX(50%) translateY(-50%) rotate(270deg);
}

.player-hand.west {
  top: 53%;

  left: 10.5vh;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.player-name.north {
  transform: rotate(180deg);
}
